name: sudoku
description: "A new Flutter project."
publish_to: 'none' 


version: 1.0.0+1

environment:
  sdk: ^3.9.2


dependencies:
  flutter:
    sdk: flutter
  path_provider: ^2.1.5
  go_router: ^15.1.1
  flutter_bloc: ^8.1.5
  equatable: ^2.0.5
  shared_preferences: ^2.2.3
  flutter_svg: ^2.0.10+1
  flutter_launcher_icons: ^0.14.4
  flutter_native_splash: ^2.4.0
  google_fonts: ^6.2.1
  flutter_localizations:
    sdk: flutter
  intl: any
  cupertino_icons: ^1.0.8
  font_awesome_flutter: ^10.8.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true

  assets:
    - assets/images/

  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/to/font-from-package

flutter_launcher_icons:
  android: true
  ios: true
  macos: 
    generate: true
  image_path: "assets/images/logo.jpeg"
